* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.sidebar {
  display: grid;
  grid-template-columns: 260px 1fr;
}
.sidebar__left {
  position: sticky;
  top: 0;
  left: 0;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.sidebar__left-top h3 {
  font-family: Mulish;
  font-size: 26px;
  font-weight: 700;
  line-height: 23.85px;
  letter-spacing: 0.400000006px;
  text-align: left;
  color: #a4a6b3;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar__left-middle {
  display: flex;
  flex-direction: column;
}
.sidebar__left-middle p {
  width: 260px;
  color: #a4a6b3;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 20px;
  border-left: 2px solid transparent;
}
.sidebar__left-middle p:hover {
  background-color: rgba(170, 170, 170, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-left: 2px solid gray;
}
.sidebar__bottom {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}
.sidebar__bottom p {
  width: 260px;
  color: #a4a6b3;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  letter-spacing: 0.200000003px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 20px;
  border-left: 2px solid transparent;
}
.sidebar__bottom p:hover {
  background-color: rgba(170, 170, 170, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-left: 2px solid gray;
}
.sidebar__right {
  padding: 10px;
}
.sidebar__right__top {
  display: flex;
  justify-content: space-between;
}
.sidebar__right__top-acc {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar__right__top-menu {
  font-size: 30px;
  cursor: pointer;
}
.sidebar__right__top-acc {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.sidebar__right__top-acc p {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.sidebar table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}
.sidebar .table__img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar .table__rating {
  color: green;
}
.sidebar .table__price {
  color: red;
}
.sidebar th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px 20px;
}
.sidebar td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  padding: 0px 20px;
  min-width: 150px;
}
.sidebar td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar tr:nth-child(even) {
  background-color: #dddddd;
}
.sidebar__right__category {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 14px;
  overflow: auto;
  max-width: 1060px;
  margin-top: 20px;
}
.sidebar__right__category li {
  padding: 6px 10px;
  background-color: rgba(170, 170, 170, 0.6);
  border-radius: 5px;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.sidebar__right__category::-webkit-scrollbar {
  height: 0px;
}